In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [32]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [34]:
X_train

    age  gender  fever   cough       city
70   68  Female  101.0  Strong      Delhi
39   50  Female  103.0    Mild    Kolkata
51   11  Female  100.0  Strong    Kolkata
81   65    Male   99.0    Mild      Delhi
43   22  Female   99.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
99   10  Female   98.0  Strong    Kolkata
58   23    Male   98.0  Strong     Mumbai
73   34    Male   98.0  Strong    Kolkata
18   64  Female   98.0    Mild  Bangalore
63   10    Male  100.0    Mild  Bangalore

[80 rows x 5 columns]

In [28]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [38]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False, drop='first'),['gender','city'])
]
,remainder='passthrough')

In [46]:
transformer.fit_transform(X_train,y_train).shape

(80, 7)

In [48]:
transformer.transform(X_test).shape

(20, 7)